DUMMY1
DUMMY2
DUMMY3
logs
__pycache__
.ipynb_checkpoints
.*.swp

build
*.c
monotonic_align/monotonic_align
/.vs/vits/FileContentIndex
configs/dracu_japanese_base2.json
configs/tolove_japanese_base2.json
venv
*.pth
*.mp3
*.wav
*.gz
*.tar
*.zip
.idea
dataset_raw
Strategy.md
colab.ipynb
models
dataset
dataset_raw/change
dataset_raw/essential
dataset_raw/resample
dataset_raw/supplement/voicevox/train
dataset_raw/supplement/voicevox/val
dataset_raw/supplement/win_narrator/train
dataset_raw/supplement/win_narrator/val
chromedriver.exe
win_narrator_unsupported.txt
yue/data/cuhk_char_rank.csv
yue/data/variant.txt
yue/data/cuhk_unsupported_by_yue.txt
yue/data/cuhk_unique_phonetic.txt
yue/data/yue.txt
yue/data/yue_essential_script.txt
yue/data/yue_broken_char_solution.txt
yue/data/yue_broken_char_fixed.txt
yue/data/yue_additional.txt
yue/data/yue_unique.txt
yue/data/yue_unique_set.txt
failure_notes.txt
_README.md
yue/note.md
ipa_verify_unknown.txt
ipa_verify.csv
opencc/hk2t.json
cantonese_test.py
